.wrapper {
    border-radius: 8px;
    border: 2px solid #222;
    width: 250px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* размещаем элементы по вертикали и распределяем их между собой */
    align-items: center;
    /* центрируем элементы по горизонтали */
    position: relative;

    /* устанавливаем позиционирование родительского элемента как "relative" */
    .text {
        margin-top: 300px;
        width: 50%;
        border-radius: 8px;
        border: 2px solid #222;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        background-color: #FEFEFE;
        color: #D24C00;
        text-decoration: none;
        align-self: center;
        position: absolute;
        /* устанавливаем позиционирование элемента как "absolute" */
        left: 50%;
        /* смещаем элемент на 50% вправо относительно левого края родительского элемента */
        transform: translateX(-50%);
        /* смещаем элемент на 50% влево от его собственной ширины, чтобы он был центрирован */
        bottom: 0;
        /* прижимаем элемент к нижней границе родительского элемента */
        transition: color .2s;

        &:hover {
            color: rgb(253, 193, 10);
        }

    }

}